<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <h1><%= kindOfDay %></h1>

  <ul>
    <li>buy food</li>
    <li>cook the food</li>
    <li>eat food</li>
  </ul>
  <form action="/" method="post">
    <input type="text" name="todo" value="" placeholder="To Do Today">
    <button type="submit" name="submit">DO IT TODAY</button>
  </form>


</body>

</html>
